.flex-row {
	display: flex !important;
	flex-direction: row !important;
}

.flex-col {
	display: flex !important;
	flex-direction: column !important;
}

ul {
	list-style: none;
	padding: 0;
}

.bullet-list {
	list-style: disc;
	padding-left: 1em;
}

@media print {
	body.bg-body-secondary {
		background-color: transparent !important;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
}

@page {
	size: A4 portrait;
}
